In [1]:
# Start by importing necessary packages
import requests
import pandas as pd
from IPython.display import display
from io import StringIO

from dstapi import DstApi # The helper class

**Alternative to using DstApi:**

In [2]:
# Directly embed parameters in the URL with response.get()
requests.get('https://api.statbank.dk/v1' + '/tableinfo' + "?id=NAN1&format=JSON").json()

# Pass a dictionary of parameters to requests.get()
params = {'id': 'NAN1', 'format': 'JSON'}
requests.get('https://api.statbank.dk/v1' + '/tableinfo', params=params).json()

# Use response.post() - note the change in the name of the parameter about the table's name
# I'm also adding here a language parameter - most tables are available in both Danish and English
params = {'table': 'NAN1', 'format': 'JSON', 'lang':'en'}
requests.post('https://api.statbank.dk/v1' + '/tableinfo', json=params).json()

{'id': 'NAN1',
 'text': 'Demand and supply',
 'description': 'Demand and supply by transaction, price unit and time',
 'unit': '-',
 'suppressedDataValue': '0',
 'updated': '2023-03-31T08:00:00',
 'active': True,
 'contacts': [{'name': 'Bo Siemsen',
   'phone': '39173069',
   'mail': 'bsm@dst.dk'}],
 'documentation': {'id': '0cf24458-15d1-486d-ad2d-8f4d16dd37ad',
  'url': 'https://www.dst.dk/documentationofstatistics/0cf24458-15d1-486d-ad2d-8f4d16dd37ad'},
 'footnote': {'text': 'Chained values do not show additivity. By chained values you cannot find totals by simple addition of components. You need to use a specific formula as described here - https://www.dst.dk/ext/national/NR-DOK.',
  'mandatory': True},
 'variables': [{'id': 'TRANSAKT',
   'text': 'transaction',
   'elimination': False,
   'time': False,
   'values': [{'id': 'B1GQK', 'text': 'B.1*g Gross domestic product'},
    {'id': 'P7K', 'text': 'P.7 Imports of goods and services'},
    {'id': 'P71K', 'text': 'P.71 Import of goods'},
    {'id': 'P72K', 'text': 'P.72 Import of services'},
    {'id': 'TFSPR', 'text': 'Supply'},
    {'id': 'P6D', 'text': 'P.6 Exports of goods and services'},
    {'id': 'P61D', 'text': 'P.61 Export of goods'},
    {'id': 'P62D', 'text': 'P.62 Export of services'},
    {'id': 'P31S1MD', 'text': 'P.31 Private consumption'},
    {'id': 'P31S14D', 'text': 'P.31 Household consumption expenditure'},
    {'id': 'P311AD', 'text': 'Purchase of vehicles'},
    {'id': 'P311B_3D', 'text': 'Other goods'},
    {'id': 'P314A33S34D', 'text': 'Services incl. tourism'},
    {'id': 'P314D', 'text': 'Services'},
    {'id': 'P33D',
     'text': 'Final consumption expenditure of resident households in the rest of the world'},
    {'id': 'P34D',
     'text': 'Final consumption expenditure of non-resident households on the economic territory'},
    {'id': 'P31S15D',
     'text': 'P.31 Non-profit institutions serving households (NPISH) consumption expenditure'},
    {'id': 'P3S13D', 'text': 'P.3 Government consumption expenditure'},
    {'id': 'P5GD', 'text': 'P.5g Gross capital formation'},
    {'id': 'P51GD', 'text': 'P.51g Gross fixed capital formation'},
    {'id': 'P51GD_N111', 'text': 'N.111 Dwellings'},
    {'id': 'P51GD_N112', 'text': 'N.112 Other buildings and structures'},
    {'id': 'P51GD_N11N',
     'text': 'N.113-N.115 Machinery, transport equipment etc.'},
    {'id': 'P51GD_N117', 'text': 'N.117 Intellectual property products'},
    {'id': 'P52_53D', 'text': 'P.52+P.53 Changes in inventories etc.'},
    {'id': 'P52D', 'text': 'P.52 Changes in inventories'},
    {'id': 'P53D', 'text': 'P.53 Acquisitions less disposals of valuables'},
    {'id': 'TFUPRXP6', 'text': 'Final domestic demand'},
    {'id': 'TFUPR', 'text': 'Final demand'},
    {'id': 'EMPH_DC', 'text': 'Total actual hours worked (million hours)'},
    {'id': 'EMPM_DC', 'text': 'Total employment (1,000 persons)'}]},
  {'id': 'PRISENHED',
   'text': 'price unit',
   'elimination': False,
   'time': False,
   'values': [{'id': 'V_M', 'text': 'Current prices, (bill. DKK.)'},
    {'id': 'LAN_M', 'text': '2010-prices, chained values, (bill. DKK.)'},
    {'id': 'L_V', 'text': 'Period-to-period real growth (per cent) '},
    {'id': 'V_C', 'text': 'Pr. capita. Current prices, (1000 DKK.)'},
    {'id': 'L_VB', 'text': 'Contribution to GDP growth, (percentage point)'},
    {'id': 'LAN_C',
     'text': 'Pr. capita, 2010-prices, chained values, (1000 DKK.)'}]},
  {'id': 'Tid',
   'text': 'time',
   'elimination': False,
   'time': True,
   'values': [{'id': '1966', 'text': '1966'},
    {'id': '1967', 'text': '1967'},
    {'id': '1968', 'text': '1968'},
    {'id': '1969', 'text': '1969'},
    {'id': '1970', 'text': '1970'},
    {'id': '1971', 'text': '1971'},
    {'id': '1972', 'text': '1972'},
    {'id': '1973', 'text': '1973'},
    {'id': '1974', 'text': '1974'},
    {'id': '1975', 'text': '1975'},
    {'id': '1976', 'text': '1976'},
    {'id': '1977', 'text': '1977'},
    {'id': '1978', 'text': '1978'},
    {'id': '1979', 'text': '1979'},
    {'id': '1980', 'text': '1980'},
    {'id': '1981', 'text': '1981'},
    {'id': '1982', 'text': '1982'},
    {'id': '1983', 'text': '1983'},
    {'id': '1984', 'text': '1984'},
    {'id': '1985', 'text': '1985'},
    {'id': '1986', 'text': '1986'},
    {'id': '1987', 'text': '1987'},
    {'id': '1988', 'text': '1988'},
    {'id': '1989', 'text': '1989'},
    {'id': '1990', 'text': '1990'},
    {'id': '1991', 'text': '1991'},
    {'id': '1992', 'text': '1992'},
    {'id': '1993', 'text': '1993'},
    {'id': '1994', 'text': '1994'},
    {'id': '1995', 'text': '1995'},
    {'id': '1996', 'text': '1996'},
    {'id': '1997', 'text': '1997'},
    {'id': '1998', 'text': '1998'},
    {'id': '1999', 'text': '1999'},
    {'id': '2000', 'text': '2000'},
    {'id': '2001', 'text': '2001'},
    {'id': '2002', 'text': '2002'},
    {'id': '2003', 'text': '2003'},
    {'id': '2004', 'text': '2004'},
    {'id': '2005', 'text': '2005'},
    {'id': '2006', 'text': '2006'},
    {'id': '2007', 'text': '2007'},
    {'id': '2008', 'text': '2008'},
    {'id': '2009', 'text': '2009'},
    {'id': '2010', 'text': '2010'},
    {'id': '2011', 'text': '2011'},
    {'id': '2012', 'text': '2012'},
    {'id': '2013', 'text': '2013'},
    {'id': '2014', 'text': '2014'},
    {'id': '2015', 'text': '2015'},
    {'id': '2016', 'text': '2016'},
    {'id': '2017', 'text': '2017'},
    {'id': '2018', 'text': '2018'},
    {'id': '2019', 'text': '2019'},
    {'id': '2020', 'text': '2020'},
    {'id': '2021', 'text': '2021'},
    {'id': '2022', 'text': '2022'}]}]}

**Using DstApi (pip install git+https://github.com/alemartinello/dstapi):**

In [47]:
# Initialize the class with the target tables
NationalAccount = DstApi('NAN1')                # Unit : 2010-prices, chained values, bill DKK
EmploymentPopuplation = DstApi('NAHB')          # Unit : number of people
Capital = DstApi('NAHD34')                      # Unit : m DKK
Unemployment = DstApi('AULAAR')                 # Unit : % of labourforce

Income = DstApi('INDKP201')                     # Unit : DKK, fixed prices
Wealth = DstApi('FORMUE11')                     # Unit : DKK, fixed prices / Using 202-definiion of net-wealth

FirstYear = 2000                                # Define first year of data (in cases where prior data exists)

Table INDKP201: Main table for personal income statistics by type of income, sex, age, population, price unit, unit and time
Last update: 2022-11-24T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,INDKOMSTTYPE,39,100,1 Disposable income (2+30-31-32-35),290,Taxable income,False
1,KOEN,3,MOK,"Men and women, total",K,Women,False
2,ALDER,15,14TOT,"Total, 15 years and over",80-00,80 years and over,False
3,POPU,2,5000,All regardless of having the type of income,5020,Only people with the type of income,False
4,PRISENHED,2,005,Constant prices,006,Nominal prices,False
5,ENHED,5,0050,Mean (DKK),105,People (Number),False
6,Tid,26,1996,1996,2021,2021,True

## National account

In [4]:
display(NationalAccount.variable_levels('TRANSAKT', language='en'))

             id                                               text
0         B1GQK                       B.1*g Gross domestic product
1           P7K                  P.7 Imports of goods and services
2          P71K                               P.71 Import of goods
3          P72K                            P.72 Import of services
4         TFSPR                                             Supply
5           P6D                  P.6 Exports of goods and services
6          P61D                               P.61 Export of goods
7          P62D                            P.62 Export of services
8       P31S1MD                           P.31 Private consumption
9       P31S14D             P.31 Household consumption expenditure
10       P311AD                               Purchase of vehicles
11     P311B_3D                                        Other goods
12  P314A33S34D                             Services incl. tourism
13        P314D                                           Services
14         P33D  Final consumption expenditure of resident hous...
15         P34D  Final consumption expenditure of non-resident ...
16      P31S15D  P.31 Non-profit institutions serving household...
17       P3S13D             P.3 Government consumption expenditure
18         P5GD                       P.5g Gross capital formation
19        P51GD                P.51g Gross fixed capital formation
20   P51GD_N111                                    N.111 Dwellings
21   P51GD_N112               N.112 Other buildings and structures
22   P51GD_N11N    N.113-N.115 Machinery, transport equipment etc.
23   P51GD_N117               N.117 Intellectual property products
24      P52_53D              P.52+P.53 Changes in inventories etc.
25         P52D                        P.52 Changes in inventories
26         P53D      P.53 Acquisitions less disposals of valuables
27     TFUPRXP6                              Final domestic demand
28        TFUPR                                       Final demand
29      EMPH_DC          Total actual hours worked (million hours)
30      EMPM_DC                   Total employment (1,000 persons)

**Define variables of interest:**

In [6]:
params = {
    'table': 'NAN1',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'TRANSAKT', 'values': ['B1GQK','P7K','P6D','P31S1MD','P3S13D','P5GD']},
        {'code': 'PRISENHED', 'values': ['LAN_M']},
        {'code': 'Tid', 'values': [f'>={FirstYear}<']}
        ]
    }
SupplyBalanceVar = NationalAccount.get_data(params=params).set_index(['TID']).sort_values(['TID'])

**Create dataframe:**

In [7]:
SupplyBalanceDF = pd.DataFrame()
SupplyBalanceDF['Y'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'B.1*g Gross domestic product'].copy()
SupplyBalanceDF['M'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.7 Imports of goods and services'].copy()
SupplyBalanceDF['X'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.6 Exports of goods and services'].copy()
SupplyBalanceDF['C'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.31 Private consumption'].copy()
SupplyBalanceDF['G'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.3 Government consumption expenditure'].copy()
SupplyBalanceDF['I'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.5g Gross capital formation'].copy()
SupplyBalanceDF = SupplyBalanceDF.apply(pd.to_numeric)
SupplyBalanceDF['M_ratio'] = SupplyBalanceDF['M']/SupplyBalanceDF['Y']
SupplyBalanceDF['X_ratio'] = SupplyBalanceDF['X']/SupplyBalanceDF['Y'] 
SupplyBalanceDF['C_ratio'] = SupplyBalanceDF['C']/SupplyBalanceDF['Y'] 
SupplyBalanceDF['G_ratio'] = SupplyBalanceDF['G']/SupplyBalanceDF['Y']
SupplyBalanceDF['I_ratio'] = SupplyBalanceDF['I']/SupplyBalanceDF['Y']

## Capital, employment and population

**Employment and population:**

In [9]:
display(EmploymentPopuplation.variable_levels('SOCIO', language='en'))

        id                          text
0  EMPM_DC           Employment (number)
1  EMPM_NC  Employment, national concept
2      POP                    Population

**Define variables of interest:**

In [10]:
params = {
    'table': 'NAHB',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'SOCIO', 'values': ['EMPM_DC','POP']},
        {'code': 'Tid', 'values': [f'>={FirstYear}<']}
        ]
    }
EmploymentPopuplationVar = EmploymentPopuplation.get_data(params=params).sort_values(['TID'])

**Capital:**

**Define variables of interest:**

In [36]:
params = {
    'table': 'NAHD34',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'TRANSAKT', 'values': ['B8GK']},
        {'code': 'Tid', 'values': [f'>={FirstYear}<']}
        ]
    }
CapitalVar = Capital.get_data(params=params).sort_values(['TID'])

**Create dataframe:**

In [37]:
CapitalEmploymentPopuplationDF = pd.DataFrame()
CapitalEmploymentPopuplationDF['L'] = EmploymentPopuplationVar[['TID','INDHOLD']].loc[EmploymentPopuplationVar['SOCIO'] == 'Employment (number)'].copy().set_index(['TID'])
CapitalEmploymentPopuplationDF['N'] = EmploymentPopuplationVar[['TID','INDHOLD']].loc[EmploymentPopuplationVar['SOCIO'] == 'Population'].copy().set_index(['TID'])
CapitalEmploymentPopuplationDF['K'] = CapitalVar[['TID','INDHOLD']].loc[CapitalVar['TRANSAKT'] == 'B.8g Saving, gross'].copy().set_index(['TID'])
CapitalEmploymentPopuplationDF = CapitalEmploymentPopuplationDF.apply(pd.to_numeric)
CapitalEmploymentPopuplationDF['L_ratio'] = CapitalEmploymentPopuplationDF['L']/CapitalEmploymentPopuplationDF['N']

## Unemployment rate

**Define variables of interest:**

In [39]:
params = {
    'table': 'AULAAR',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'KØN', 'values': ['TOT']},
        {'code': 'PERPCT', 'values': ['L10']},
        {'code': 'Tid', 'values':[f'>={FirstYear}<']}
        ]
    }
UnemploymentVar = Unemployment.get_data(params=params).set_index(['TID']).sort_values(['TID'])

**Create dataframe:**

In [40]:
UnemploymentDF = pd.DataFrame()
UnemploymentDF['U'] = UnemploymentVar[['INDHOLD']].loc[UnemploymentVar['PERPCT'] == 'Per cent of the labour force'].copy()
UnemploymentDF = UnemploymentDF.apply(pd.to_numeric)

## Income and wealth lifecycles

**Income:**

In [48]:
Income.tablesummary(language='en')

Table INDKP201: Main table for personal income statistics by type of income, sex, age, population, price unit, unit and time
Last update: 2022-11-24T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,INDKOMSTTYPE,39,100,1 Disposable income (2+30-31-32-35),290,Taxable income,False
1,KOEN,3,MOK,"Men and women, total",K,Women,False
2,ALDER,15,14TOT,"Total, 15 years and over",80-00,80 years and over,False
3,POPU,2,5000,All regardless of having the type of income,5020,Only people with the type of income,False
4,PRISENHED,2,005,Constant prices,006,Nominal prices,False
5,ENHED,5,0050,Mean (DKK),105,People (Number),False
6,Tid,26,1996,1996,2021,2021,True

**Define variables of interest:**

In [53]:
params = {
    'table': 'INDKP201',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'INDKOMSTTYPE', 'values': ['100','105']},
        {'code': 'KOEN', 'values': ['MOK']},
        {'code': 'ALDER', 'values': ['*']},	
        {'code': 'POPU', 'values': ['5000']},	
        {'code': 'PRISENHED', 'values': ['005']},
        {'code': 'ENHED', 'values': ['0050']},
        {'code': 'Tid', 'values':[f'>={FirstYear}<']}
        ]
    }
IncomeVar = Income.get_data(params=params).set_index(['TID']).sort_values(['TID'])
IncomeVar

,INDKOMSTTYPE,KOEN,ALDER,POPU,PRISENHED,ENHED,INDHOLD
TID,,,,,,,
2000,1 Disposable income (2+30-31-32-35),"Men and women, total","Total, 15 years and over",All regardless of having the type of income,Constant prices,Mean (DKK),189300
2000,"2 Pre-tax Income, total (3+7+22+26+29)","Men and women, total",80 years and over,All regardless of having the type of income,Constant prices,Mean (DKK),197300
2000,"2 Pre-tax Income, total (3+7+22+26+29)","Men and women, total",75-79 years,All regardless of having the type of income,Constant prices,Mean (DKK),202700
2000,"2 Pre-tax Income, total (3+7+22+26+29)","Men and women, total",70-74 years,All regardless of having the type of income,Constant prices,Mean (DKK),208400
2000,"2 Pre-tax Income, total (3+7+22+26+29)","Men and women, total",65-69 years,All regardless of having the type of income,Constant prices,Mean (DKK),223100
...,...,...,...,...,...,...,...
2021,1 Disposable income (2+30-31-32-35),"Men and women, total",15-19 years,All regardless of having the type of income,Constant prices,Mean (DKK),36200
2021,1 Disposable income (2+30-31-32-35),"Men and women, total","Total, 15 years and over",All regardless of having the type of income,Constant prices,Mean (DKK),267400
2021,"2 Pre-tax Income, total (3+7+22+26+29)","Men and women, total",75-79 years,All regardless of having the type of income,Constant prices,Mean (DKK),290600
2021,1 Disposable income (2+30-31-32-35),"Men and women, total",75-79 years,All regardless of having the type of income,Constant prices,Mean (DKK),233900
2021,"2 Pre-tax Income, total (3+7+22+26+29)","Men and women, total",80 years and over,All regardless of having the type of income,Constant prices,Mean (DKK),274400

**Create dataframe:**

In [59]:
IncomeDF = pd.DataFrame()
IncomeDF = IncomeVar[['INDKOMSTTYPE','ALDER','INDHOLD']].copy()
IncomeDF

,INDKOMSTTYPE,ALDER,INDHOLD
TID,,,
2000,1 Disposable income (2+30-31-32-35),"Total, 15 years and over",189300
2000,"2 Pre-tax Income, total (3+7+22+26+29)",80 years and over,197300
2000,"2 Pre-tax Income, total (3+7+22+26+29)",75-79 years,202700
2000,"2 Pre-tax Income, total (3+7+22+26+29)",70-74 years,208400
2000,"2 Pre-tax Income, total (3+7+22+26+29)",65-69 years,223100
...,...,...,...
2021,1 Disposable income (2+30-31-32-35),15-19 years,36200
2021,1 Disposable income (2+30-31-32-35),"Total, 15 years and over",267400
2021,"2 Pre-tax Income, total (3+7+22+26+29)",75-79 years,290600
2021,1 Disposable income (2+30-31-32-35),75-79 years,233900
2021,"2 Pre-tax Income, total (3+7+22+26+29)",80 years and over,274400

**Wealth**:

**Define variables of interest:**

In [60]:
Wealth.tablesummary(language='en')

Table FORMUE11: Wealth by type of wealth, unit, age, sex, population and time
Last update: 2022-12-20T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,FORM1,46,FGNF2020,"Net Wealth, (2020-definition A+B+CX-D-E-F)",FGF4,F.4. Other debt to the public sector,False
1,ENHED,9,200,Median (Constant prices 2021-level),240,Number of people in population 31.12,False
2,ALDER,16,1802,18 years and over,9099,90 years and over,False
3,KØN,3,MOK,"Men and women, total",K,Women,False
4,POPU,2,5005,Entire population,5025,Only people with the selected type of wealth,False
5,Tid,8,2014,2014,2021,2021,True

In [61]:
display(Wealth.variable_levels('ENHED', language='en'))

    id                                         text
0  200          Median (Constant prices 2021-level)
1  205   Lower quartile (Constant prices 2021-leel)
2  210  Upper quartile (Constant prices 2021-level)
3  215         Average (Constant prices 2021-level)
4  220                      Median (Nominal prices)
5  225              Lower quartile (Nominal prices)
6  230              Upper quartile (Nominal prices)
7  235                     Average (Nominal prices)
8  240         Number of people in population 31.12

In [96]:
params = {
    'table': 'FORMUE11',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'FORM1', 'values': ['FGNF2020']},
        {'code': 'ENHED', 'values': ['215']},
        {'code': 'ALDER', 'values': ['*']},	
        {'code': 'KØN', 'values': ['MOK']},
        {'code': 'POPU', 'values': ['5005']},	
        {'code': 'Tid', 'values':[f'>=2014<']}
        ]
    }
WealthVar = Wealth.get_data(params=params).set_index(['TID']).sort_values(['TID'])

In [101]:
WealthDF = pd.DataFrame()
WealthDF = WealthVar[['TID','ALDER','INDHOLD']].copy()
WealthDF

      TID              ALDER  INDHOLD
0    2014  18 years and over       ..
15   2014  90 years and over       ..
14   2014        85-89 years       ..
13   2014        80-84 years       ..
12   2014        75-79 years       ..
..    ...                ...      ...
113  2021        18-24 years   187629
112  2021  18 years and over  1938654
126  2021        85-89 years  1967944
118  2021        45-49 years  2197622
127  2021  90 years and over  1761446

[128 rows x 3 columns]

In [109]:
WealthDF2 = pd.DataFrame()
WealthDF2['18 years and over'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '18 years and over'].set_index(['TID'])
WealthDF2['18-24 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '18-24 years'].set_index(['TID'])
WealthDF2['25-29 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '25-29 years'].set_index(['TID'])
WealthDF2['30-34 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '30-34 years'].set_index(['TID'])
WealthDF2['35-39 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '35-39 years'].set_index(['TID'])
WealthDF2['40-44 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '40-44 years'].set_index(['TID'])
WealthDF2['45-49 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '45-49 years'].set_index(['TID'])
WealthDF2['50-54 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '50-54 years'].set_index(['TID'])
WealthDF2['55-59 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '55-59 years'].set_index(['TID'])
WealthDF2['60-64 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '60-64 years'].set_index(['TID'])
WealthDF2['65-69 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '65-69 years'].set_index(['TID'])
WealthDF2['70-74 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '70-74 years'].set_index(['TID'])
WealthDF2['75-79 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '75-79 years'].set_index(['TID'])
WealthDF2['80-84 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '80-84 years'].set_index(['TID'])
WealthDF2['85-89 years'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '85-89 years'].set_index(['TID'])
WealthDF2['90 years and over'] = WealthDF[['TID','INDHOLD']].loc[WealthVar['ALDER'] == '90 years and over'].set_index(['TID'])
WealthDF2

,18 years and over,18-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,50-54 years,55-59 years,60-64 years,65-69 years,70-74 years,75-79 years,80-84 years,85-89 years,90 years and over
TID,,,,,,,,,,,,,,,,
2014,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2015,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2016,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2017,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2018,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2019,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2020,1694985,137927,226799,437082,806615,1282259,1890615,2300089,2677850,3061997,3057230,2878569,2605665,2059096,1755330,1609966
2021,1938654,187629,295654,518780,948522,1482725,2197622,2718674,3069287,3426038,3402934,3173698,2964666,2370539,1967944,1761446

## Steady state values

In [41]:
frames = [SupplyBalanceDF, CapitalEmploymentPopuplationDF, UnemploymentDF]

In [42]:
All_variables =  pd.concat(frames, axis=1)
All_variables

,Y,M,X,C,G,I,M_ratio,X_ratio,C_ratio,G_ratio,I_ratio,L,N,K,L_ratio,U
TID,,,,,,,,,,,,,,,,
2000,1677.2,548.7,696.9,752.6,412.2,348.2,0.327152,0.415514,0.448724,0.245767,0.207608,2755149.0,5338491.0,318423.0,0.516091,4.9
2001,1691.0,561.9,720.3,754.3,420.0,343.0,0.332289,0.425961,0.446067,0.248374,0.202839,2782473.0,5357285.0,343436.0,0.519381,4.7
2002,1698.9,597.7,751.7,765.2,429.0,338.9,0.351816,0.442463,0.450409,0.252516,0.199482,2784200.0,5375575.0,343526.0,0.517935,4.8
2003,1705.5,591.6,742.7,775.4,430.0,336.6,0.346878,0.435473,0.454647,0.252125,0.197361,2758653.0,5389521.0,351281.0,0.511855,5.8
2004,1751.0,633.8,765.1,811.5,436.6,359.4,0.361965,0.436950,0.463449,0.249343,0.205254,2744153.0,5403040.0,374174.0,0.507891,5.8
2005,1792.0,705.3,824.2,841.5,441.8,379.3,0.393583,0.459933,0.469587,0.246540,0.211663,2783163.0,5418559.0,418680.0,0.513635,5.1
2006,1862.1,803.9,909.4,866.3,453.1,427.7,0.431717,0.488373,0.465227,0.243327,0.229687,2845937.0,5436756.0,464694.0,0.523462,3.9
2007,1879.0,850.8,942.6,881.6,458.5,439.1,0.452794,0.501650,0.469186,0.244013,0.233688,2912410.0,5460399.0,464702.0,0.533369,2.7
2008,1869.4,891.4,979.1,885.9,473.4,418.0,0.476837,0.523751,0.473895,0.253236,0.223601,2946869.0,5492726.0,484618.0,0.536504,1.9
2009,1777.7,784.9,888.8,855.5,487.8,329.3,0.441526,0.499972,0.481240,0.274400,0.185239,2854347.0,5522588.0,388409.0,0.516850,3.6
2010,1810.9,789.1,914.9,862.2,495.6,327.3,0.435750,0.505218,0.476117,0.273676,0.180739,2787856.0,5547363.0,446191.0,0.502555,4.2
2011,1835.1,847.9,980.8,864.6,492.5,345.2,0.462046,0.534467,0.471146,0.268378,0.188110,2786628.0,5570213.0,474874.0,0.500273,4.0
2012,1839.3,870.9,992.2,869.0,496.2,353.1,0.473495,0.539444,0.472462,0.269777,0.191975,2766813.0,5590770.0,487923.0,0.494889,4.5
2013,1856.5,883.7,1008.1,871.5,495.7,365.1,0.476003,0.543011,0.469432,0.267008,0.196660,2766403.0,5613263.0,529692.0,0.492833,4.4
2014,1886.5,918.1,1039.7,879.4,505.3,380.8,0.486668,0.551126,0.466154,0.267851,0.201855,2790512.0,5643346.0,574843.0,0.494478,4.0
2015,1930.7,960.0,1076.9,899.5,513.8,400.7,0.497229,0.557777,0.465893,0.266121,0.207541,2828998.0,5682449.0,588022.0,0.497848,3.8
2016,1993.4,995.1,1121.2,921.2,514.6,431.2,0.499197,0.562456,0.462125,0.258152,0.216314,2876452.0,5728752.0,622805.0,0.502108,3.3
2017,2049.6,1036.8,1175.1,942.3,519.1,449.4,0.505855,0.573331,0.459748,0.253269,0.219262,2919563.0,5765103.0,659244.0,0.506420,3.3
2018,2090.4,1089.6,1214.5,975.2,519.2,468.9,0.521240,0.580989,0.466514,0.248374,0.224311,2962779.0,5793868.0,673314.0,0.511365,3.1
2019,2121.6,1122.4,1269.3,990.6,523.6,458.8,0.529035,0.598275,0.466912,0.246795,0.216252,3005480.0,5816940.0,700721.0,0.516677,3.0
2020,2079.3,1082.5,1189.3,977.2,516.4,476.5,0.520608,0.571971,0.469966,0.248353,0.229164,2973000.0,5829703.0,709749.0,0.509975,4.1
2021,2180.3,1168.8,1284.3,1017.7,537.9,505.7,0.536073,0.589047,0.466771,0.246709,0.231941,3045791.0,5854420.0,801357.0,0.520255,3.2
2022,2263.5,1218.2,1394.9,994.5,519.3,566.9,0.538193,0.616258,0.439364,0.229423,0.250453,NaN,NaN,NaN,NaN,NaN

In [43]:
All_variables.mean()

Y          1.897430e+03
M          8.675261e+02
X          9.948696e+02
C          8.806391e+02
G          4.822435e+02
I          4.021348e+02
M_ratio    4.520847e-01
X_ratio    5.197136e-01
C_ratio    4.641320e-01
G_ratio    2.545011e-01
I_ratio    2.109130e-01
L          2.848983e+06
N          5.574142e+06
K          5.100308e+05
L_ratio    5.112114e-01
U          4.004545e+00
dtype: float64