In [90]:
# Start by importing necessary packages
import requests
import numpy as np
import pandas as pd
import statsmodels.api as sm
from linearmodels import PanelOLS
from IPython.display import display
from io import StringIO


from dstapi import DstApi # The helper class

**Alternative to using DstApi:**

In [2]:
# Directly embed parameters in the URL with response.get()
requests.get('https://api.statbank.dk/v1' + '/tableinfo' + "?id=NAN1&format=JSON").json()

# Pass a dictionary of parameters to requests.get()
params = {'id': 'NAN1', 'format': 'JSON'}
requests.get('https://api.statbank.dk/v1' + '/tableinfo', params=params).json()

# Use response.post() - note the change in the name of the parameter about the table's name
# I'm also adding here a language parameter - most tables are available in both Danish and English
params = {'table': 'NAN1', 'format': 'JSON', 'lang':'en'}
requests.post('https://api.statbank.dk/v1' + '/tableinfo', json=params).json()

{'id': 'NAN1',
 'text': 'Demand and supply',
 'description': 'Demand and supply by transaction, price unit and time',
 'unit': '-',
 'suppressedDataValue': '0',
 'updated': '2023-03-31T08:00:00',
 'active': True,
 'contacts': [{'name': 'Bo Siemsen',
   'phone': '39173069',
   'mail': 'bsm@dst.dk'}],
 'documentation': {'id': '0cf24458-15d1-486d-ad2d-8f4d16dd37ad',
  'url': 'https://www.dst.dk/documentationofstatistics/0cf24458-15d1-486d-ad2d-8f4d16dd37ad'},
 'footnote': {'text': 'Chained values do not show additivity. By chained values you cannot find totals by simple addition of components. You need to use a specific formula as described here - https://www.dst.dk/ext/national/NR-DOK.',
  'mandatory': True},
 'variables': [{'id': 'TRANSAKT',
   'text': 'transaction',
   'elimination': False,
   'time': False,
   'values': [{'id': 'B1GQK', 'text': 'B.1*g Gross domestic product'},
    {'id': 'P7K', 'text': 'P.7 Imports of goods and services'},
    {'id': 'P71K', 'text': 'P.71 Import of goods'},
    {'id': 'P72K', 'text': 'P.72 Import of services'},
    {'id': 'TFSPR', 'text': 'Supply'},
    {'id': 'P6D', 'text': 'P.6 Exports of goods and services'},
    {'id': 'P61D', 'text': 'P.61 Export of goods'},
    {'id': 'P62D', 'text': 'P.62 Export of services'},
    {'id': 'P31S1MD', 'text': 'P.31 Private consumption'},
    {'id': 'P31S14D', 'text': 'P.31 Household consumption expenditure'},
    {'id': 'P311AD', 'text': 'Purchase of vehicles'},
    {'id': 'P311B_3D', 'text': 'Other goods'},
    {'id': 'P314A33S34D', 'text': 'Services incl. tourism'},
    {'id': 'P314D', 'text': 'Services'},
    {'id': 'P33D',
     'text': 'Final consumption expenditure of resident households in the rest of the world'},
    {'id': 'P34D',
     'text': 'Final consumption expenditure of non-resident households on the economic territory'},
    {'id': 'P31S15D',
     'text': 'P.31 Non-profit institutions serving households (NPISH) consumption expenditure'},
    {'id': 'P3S13D', 'text': 'P.3 Government consumption expenditure'},
    {'id': 'P5GD', 'text': 'P.5g Gross capital formation'},
    {'id': 'P51GD', 'text': 'P.51g Gross fixed capital formation'},
    {'id': 'P51GD_N111', 'text': 'N.111 Dwellings'},
    {'id': 'P51GD_N112', 'text': 'N.112 Other buildings and structures'},
    {'id': 'P51GD_N11N',
     'text': 'N.113-N.115 Machinery, transport equipment etc.'},
    {'id': 'P51GD_N117', 'text': 'N.117 Intellectual property products'},
    {'id': 'P52_53D', 'text': 'P.52+P.53 Changes in inventories etc.'},
    {'id': 'P52D', 'text': 'P.52 Changes in inventories'},
    {'id': 'P53D', 'text': 'P.53 Acquisitions less disposals of valuables'},
    {'id': 'TFUPRXP6', 'text': 'Final domestic demand'},
    {'id': 'TFUPR', 'text': 'Final demand'},
    {'id': 'EMPH_DC', 'text': 'Total actual hours worked (million hours)'},
    {'id': 'EMPM_DC', 'text': 'Total employment (1,000 persons)'}]},
  {'id': 'PRISENHED',
   'text': 'price unit',
   'elimination': False,
   'time': False,
   'values': [{'id': 'V_M', 'text': 'Current prices, (bill. DKK.)'},
    {'id': 'LAN_M', 'text': '2010-prices, chained values, (bill. DKK.)'},
    {'id': 'L_V', 'text': 'Period-to-period real growth (per cent) '},
    {'id': 'V_C', 'text': 'Pr. capita. Current prices, (1000 DKK.)'},
    {'id': 'L_VB', 'text': 'Contribution to GDP growth, (percentage point)'},
    {'id': 'LAN_C',
     'text': 'Pr. capita, 2010-prices, chained values, (1000 DKK.)'}]},
  {'id': 'Tid',
   'text': 'time',
   'elimination': False,
   'time': True,
   'values': [{'id': '1966', 'text': '1966'},
    {'id': '1967', 'text': '1967'},
    {'id': '1968', 'text': '1968'},
    {'id': '1969', 'text': '1969'},
    {'id': '1970', 'text': '1970'},
    {'id': '1971', 'text': '1971'},
    {'id': '1972', 'text': '1972'},
    {'id': '1973', 'text': '1973'},
    {'id': '1974', 'text': '1974'},
    {'id': '1975', 'text': '1975'},
    {'id': '1976', 'text': '1976'},
    {'id': '1977', 'text': '1977'},
    {'id': '1978', 'text': '1978'},
    {'id': '1979', 'text': '1979'},
    {'id': '1980', 'text': '1980'},
    {'id': '1981', 'text': '1981'},
    {'id': '1982', 'text': '1982'},
    {'id': '1983', 'text': '1983'},
    {'id': '1984', 'text': '1984'},
    {'id': '1985', 'text': '1985'},
    {'id': '1986', 'text': '1986'},
    {'id': '1987', 'text': '1987'},
    {'id': '1988', 'text': '1988'},
    {'id': '1989', 'text': '1989'},
    {'id': '1990', 'text': '1990'},
    {'id': '1991', 'text': '1991'},
    {'id': '1992', 'text': '1992'},
    {'id': '1993', 'text': '1993'},
    {'id': '1994', 'text': '1994'},
    {'id': '1995', 'text': '1995'},
    {'id': '1996', 'text': '1996'},
    {'id': '1997', 'text': '1997'},
    {'id': '1998', 'text': '1998'},
    {'id': '1999', 'text': '1999'},
    {'id': '2000', 'text': '2000'},
    {'id': '2001', 'text': '2001'},
    {'id': '2002', 'text': '2002'},
    {'id': '2003', 'text': '2003'},
    {'id': '2004', 'text': '2004'},
    {'id': '2005', 'text': '2005'},
    {'id': '2006', 'text': '2006'},
    {'id': '2007', 'text': '2007'},
    {'id': '2008', 'text': '2008'},
    {'id': '2009', 'text': '2009'},
    {'id': '2010', 'text': '2010'},
    {'id': '2011', 'text': '2011'},
    {'id': '2012', 'text': '2012'},
    {'id': '2013', 'text': '2013'},
    {'id': '2014', 'text': '2014'},
    {'id': '2015', 'text': '2015'},
    {'id': '2016', 'text': '2016'},
    {'id': '2017', 'text': '2017'},
    {'id': '2018', 'text': '2018'},
    {'id': '2019', 'text': '2019'},
    {'id': '2020', 'text': '2020'},
    {'id': '2021', 'text': '2021'},
    {'id': '2022', 'text': '2022'}]}]}

**Using DstApi (pip install git+https://github.com/alemartinello/dstapi):**

In [3]:
# Initialize the class with the target tables
NationalAccount = DstApi('NAN1')                # Unit : 2010-prices, chained values, bill DKK
EmploymentPopuplation = DstApi('NAHB')          # Unit : number of people
Capital = DstApi('NAHD34')                      # Unit : m DKK
Unemployment = DstApi('AULAAR')                 # Unit : % of labour force

Income = DstApi('INDKP201')                     # Unit : DKK, fixed prices
Wealth = DstApi('FORMUE11')                     # Unit : DKK, fixed prices / Using 2014-definiion of net-wealth

FirstYear = 2000                                # Define first year of data (in cases where prior data exists)

## National account

In [4]:
display(NationalAccount.variable_levels('TRANSAKT', language='en'))

             id                                               text
0         B1GQK                       B.1*g Gross domestic product
1           P7K                  P.7 Imports of goods and services
2          P71K                               P.71 Import of goods
3          P72K                            P.72 Import of services
4         TFSPR                                             Supply
5           P6D                  P.6 Exports of goods and services
6          P61D                               P.61 Export of goods
7          P62D                            P.62 Export of services
8       P31S1MD                           P.31 Private consumption
9       P31S14D             P.31 Household consumption expenditure
10       P311AD                               Purchase of vehicles
11     P311B_3D                                        Other goods
12  P314A33S34D                             Services incl. tourism
13        P314D                                           Services
14         P33D  Final consumption expenditure of resident hous...
15         P34D  Final consumption expenditure of non-resident ...
16      P31S15D  P.31 Non-profit institutions serving household...
17       P3S13D             P.3 Government consumption expenditure
18         P5GD                       P.5g Gross capital formation
19        P51GD                P.51g Gross fixed capital formation
20   P51GD_N111                                    N.111 Dwellings
21   P51GD_N112               N.112 Other buildings and structures
22   P51GD_N11N    N.113-N.115 Machinery, transport equipment etc.
23   P51GD_N117               N.117 Intellectual property products
24      P52_53D              P.52+P.53 Changes in inventories etc.
25         P52D                        P.52 Changes in inventories
26         P53D      P.53 Acquisitions less disposals of valuables
27     TFUPRXP6                              Final domestic demand
28        TFUPR                                       Final demand
29      EMPH_DC          Total actual hours worked (million hours)
30      EMPM_DC                   Total employment (1,000 persons)

**Define variables of interest:**

In [5]:
params = {
    'table': 'NAN1',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'TRANSAKT', 'values': ['B1GQK','P7K','P6D','P31S1MD','P3S13D','P5GD']},    # (GDP, imports of goods and services, exports of goods and services, private consumption, government consumption expenditure, gross capital formation (investments))
        {'code': 'PRISENHED', 'values': ['LAN_M']},                                         # 2010-prices, chained values (bill. DKK)
        {'code': 'Tid', 'values': [f'>={FirstYear}<']}                                      # specified years    
        ]
    }
SupplyBalanceVar = NationalAccount.get_data(params=params).set_index(['TID']).sort_values(['TID'])

**Create dataframe:**

In [6]:
SupplyBalanceDF = pd.DataFrame()
SupplyBalanceDF['Y'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'B.1*g Gross domestic product'].copy()
SupplyBalanceDF['M'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.7 Imports of goods and services'].copy()
SupplyBalanceDF['X'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.6 Exports of goods and services'].copy()
SupplyBalanceDF['C'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.31 Private consumption'].copy()
SupplyBalanceDF['G'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.3 Government consumption expenditure'].copy()
SupplyBalanceDF['I'] = SupplyBalanceVar[['INDHOLD']].loc[SupplyBalanceVar['TRANSAKT'] == 'P.5g Gross capital formation'].copy()
SupplyBalanceDF = SupplyBalanceDF.apply(pd.to_numeric)
SupplyBalanceDF['M_ratio'] = SupplyBalanceDF['M']/SupplyBalanceDF['Y']
SupplyBalanceDF['X_ratio'] = SupplyBalanceDF['X']/SupplyBalanceDF['Y'] 
SupplyBalanceDF['C_ratio'] = SupplyBalanceDF['C']/SupplyBalanceDF['Y'] 
SupplyBalanceDF['G_ratio'] = SupplyBalanceDF['G']/SupplyBalanceDF['Y']
SupplyBalanceDF['I_ratio'] = SupplyBalanceDF['I']/SupplyBalanceDF['Y']

In [7]:
SupplyBalanceDF

,Y,M,X,C,G,I,M_ratio,X_ratio,C_ratio,G_ratio,I_ratio
TID,,,,,,,,,,,
2000,1677.2,548.7,696.9,752.6,412.2,348.2,0.327152,0.415514,0.448724,0.245767,0.207608
2001,1691.0,561.9,720.3,754.3,420.0,343.0,0.332289,0.425961,0.446067,0.248374,0.202839
2002,1698.9,597.7,751.7,765.2,429.0,338.9,0.351816,0.442463,0.450409,0.252516,0.199482
2003,1705.5,591.6,742.7,775.4,430.0,336.6,0.346878,0.435473,0.454647,0.252125,0.197361
2004,1751.0,633.8,765.1,811.5,436.6,359.4,0.361965,0.436950,0.463449,0.249343,0.205254
2005,1792.0,705.3,824.2,841.5,441.8,379.3,0.393583,0.459933,0.469587,0.246540,0.211663
2006,1862.1,803.9,909.4,866.3,453.1,427.7,0.431717,0.488373,0.465227,0.243327,0.229687
2007,1879.0,850.8,942.6,881.6,458.5,439.1,0.452794,0.501650,0.469186,0.244013,0.233688
2008,1869.4,891.4,979.1,885.9,473.4,418.0,0.476837,0.523751,0.473895,0.253236,0.223601
2009,1777.7,784.9,888.8,855.5,487.8,329.3,0.441526,0.499972,0.481240,0.274400,0.185239
2010,1810.9,789.1,914.9,862.2,495.6,327.3,0.435750,0.505218,0.476117,0.273676,0.180739
2011,1835.1,847.9,980.8,864.6,492.5,345.2,0.462046,0.534467,0.471146,0.268378,0.188110
2012,1839.3,870.9,992.2,869.0,496.2,353.1,0.473495,0.539444,0.472462,0.269777,0.191975
2013,1856.5,883.7,1008.1,871.5,495.7,365.1,0.476003,0.543011,0.469432,0.267008,0.196660
2014,1886.5,918.1,1039.7,879.4,505.3,380.8,0.486668,0.551126,0.466154,0.267851,0.201855
2015,1930.7,960.0,1076.9,899.5,513.8,400.7,0.497229,0.557777,0.465893,0.266121,0.207541
2016,1993.4,995.1,1121.2,921.2,514.6,431.2,0.499197,0.562456,0.462125,0.258152,0.216314
2017,2049.6,1036.8,1175.1,942.3,519.1,449.4,0.505855,0.573331,0.459748,0.253269,0.219262
2018,2090.4,1089.6,1214.5,975.2,519.2,468.9,0.521240,0.580989,0.466514,0.248374,0.224311
2019,2121.6,1122.4,1269.3,990.6,523.6,458.8,0.529035,0.598275,0.466912,0.246795,0.216252
2020,2079.3,1082.5,1189.3,977.2,516.4,476.5,0.520608,0.571971,0.469966,0.248353,0.229164
2021,2180.3,1168.8,1284.3,1017.7,537.9,505.7,0.536073,0.589047,0.466771,0.246709,0.231941
2022,2263.5,1218.2,1394.9,994.5,519.3,566.9,0.538193,0.616258,0.439364,0.229423,0.250453

## Capital, employment and population

**Employment and population:**

In [8]:
display(EmploymentPopuplation.variable_levels('SOCIO', language='en'))

        id                          text
0  EMPM_DC           Employment (number)
1  EMPM_NC  Employment, national concept
2      POP                    Population

**Define variables of interest:**

In [9]:
params = {
    'table': 'NAHB',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'SOCIO', 'values': ['EMPM_DC','POP']},     # employment (number) and population
        {'code': 'Tid', 'values': [f'>={FirstYear}<']}      # specified years
        ]
    }
EmploymentPopuplationVar = EmploymentPopuplation.get_data(params=params).sort_values(['TID'])

**Capital:**

**Define variables of interest:**

In [10]:
params = {
    'table': 'NAHD34',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'TRANSAKT', 'values': ['B8GK']},           # gross savings
        {'code': 'Tid', 'values': [f'>={FirstYear}<']}      # specified years
        ]
    }
CapitalVar = Capital.get_data(params=params).sort_values(['TID'])

**Create dataframe:**

In [11]:
CapitalEmploymentPopuplationDF = pd.DataFrame()
CapitalEmploymentPopuplationDF['L'] = EmploymentPopuplationVar[['TID','INDHOLD']].loc[EmploymentPopuplationVar['SOCIO'] == 'Employment (number)'].copy().set_index(['TID'])
CapitalEmploymentPopuplationDF['N'] = EmploymentPopuplationVar[['TID','INDHOLD']].loc[EmploymentPopuplationVar['SOCIO'] == 'Population'].copy().set_index(['TID'])
CapitalEmploymentPopuplationDF['K'] = CapitalVar[['TID','INDHOLD']].loc[CapitalVar['TRANSAKT'] == 'B.8g Saving, gross'].copy().set_index(['TID'])
CapitalEmploymentPopuplationDF = CapitalEmploymentPopuplationDF.apply(pd.to_numeric)
CapitalEmploymentPopuplationDF['L_ratio'] = CapitalEmploymentPopuplationDF['L']/CapitalEmploymentPopuplationDF['N']

In [13]:
CapitalEmploymentPopuplationDF

            L        N         K   L_ratio
TID
2000  2755149  5338491  318423.0  0.516091
2001  2782473  5357285  343436.0  0.519381
2002  2784200  5375575  343526.0  0.517935
2003  2758653  5389521  351281.0  0.511855
2004  2744153  5403040  374174.0  0.507891
2005  2783163  5418559  418680.0  0.513635
2006  2845937  5436756  464694.0  0.523462
2007  2912410  5460399  464702.0  0.533369
2008  2946869  5492726  484618.0  0.536504
2009  2854347  5522588  388409.0  0.516850
2010  2787856  5547363  446191.0  0.502555
2011  2786628  5570213  474874.0  0.500273
2012  2766813  5590770  487923.0  0.494889
2013  2766403  5613263  529692.0  0.492833
2014  2790512  5643346  574843.0  0.494478
2015  2828998  5682449  588022.0  0.497848
2016  2876452  5728752  622805.0  0.502108
2017  2919563  5765103  659244.0  0.506420
2018  2962779  5793868  673314.0  0.511365
2019  3005480  5816940  700721.0  0.516677
2020  2973000  5829703  709749.0  0.509975
2021  3045791  5854420  801357.0  0.520255
2022  3163516  5906385       NaN  0.535610

## Unemployment rate

**Define variables of interest:**

In [14]:
params = {
    'table': 'AULAAR',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'KÃ˜N', 'values': ['TOT']},                             # men and women in total
        {'code': 'PERPCT', 'values': ['L10']},                          # percent of the labour force 
        {'code': 'Tid', 'values':[f'>={FirstYear}<']}                   # specified years
        ]
    }
UnemploymentVar = Unemployment.get_data(params=params).set_index(['TID']).sort_values(['TID'])

**Create dataframe:**

In [15]:
UnemploymentDF = pd.DataFrame()
UnemploymentDF['U'] = UnemploymentVar[['INDHOLD']].loc[UnemploymentVar['PERPCT'] == 'Per cent of the labour force'].copy()
UnemploymentDF = UnemploymentDF.apply(pd.to_numeric)

## Income and wealth lifecycles

**Income:**

**Define variables of interest:**

In [16]:
Income.tablesummary(language='en')

Table INDKP201: Main table for personal income statistics by type of income, sex, age, population, price unit, unit and time
Last update: 2022-11-24T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,INDKOMSTTYPE,39,100,1 Disposable income (2+30-31-32-35),290,Taxable income,False
1,KOEN,3,MOK,"Men and women, total",K,Women,False
2,ALDER,15,14TOT,"Total, 15 years and over",80-00,80 years and over,False
3,POPU,2,5000,All regardless of having the type of income,5020,Only people with the type of income,False
4,PRISENHED,2,005,Constant prices,006,Nominal prices,False
5,ENHED,5,0050,Mean (DKK),105,People (Number),False
6,Tid,26,1996,1996,2021,2021,True

In [17]:
params = {
    'table': 'INDKP201',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'INDKOMSTTYPE', 'values': ['100']},                        # disposable income (Pre-tax income is 105) 
        {'code': 'KOEN', 'values': ['MOK']},                                # men and women in total
        {'code': 'ALDER', 'values': ['*']},	                                # all ages
        {'code': 'POPU', 'values': ['5000']},	                            # all regardless of having the type of income
        {'code': 'PRISENHED', 'values': ['005']},                           # fixed prices (latest data years price level - 2021)
        {'code': 'ENHED', 'values': ['0050']},                              # average DKK
        {'code': 'Tid', 'values':[f'>={FirstYear}<']}
        ]
    }
DisposableIncomeVar = Income.get_data(params=params).sort_values(['TID'])

**Wealth**:

**Define variables of interest:**

In [18]:
Wealth.tablesummary(language='en')

Table FORMUE11: Wealth by type of wealth, unit, age, sex, population and time
Last update: 2022-12-20T08:00:00

,variable name,# values,First value,First value label,Last value,Last value label,Time variable
0,FORM1,46,FGNF2020,"Net Wealth, (2020-definition A+B+CX-D-E-F)",FGF4,F.4. Other debt to the public sector,False
1,ENHED,9,200,Median (Constant prices 2021-level),240,Number of people in population 31.12,False
2,ALDER,16,1802,18 years and over,9099,90 years and over,False
3,KÃ˜N,3,MOK,"Men and women, total",K,Women,False
4,POPU,2,5005,Entire population,5025,Only people with the selected type of wealth,False
5,Tid,8,2014,2014,2021,2021,True

In [19]:
params = {
    'table': 'FORMUE11',
    'format': 'BULK',
    'lang': 'en',
    'variables': [
        {'code': 'FORM1', 'values': ['FGNF2014']},              # net wealth (2014 definition: Real assets + Financial asset excluding unquoted shares + Pensions in total - Mortgage debt - Other loans - Study loans + Debt collection)
        {'code': 'ENHED', 'values': ['215']},                   # fixed prices - 2021
        {'code': 'ALDER', 'values': ['*']},	                    # all ages
        {'code': 'KÃ˜N', 'values': ['MOK']},                     # men and women in total
        {'code': 'POPU', 'values': ['5005']},	                # entire population	
        {'code': 'Tid', 'values':[f'>=2014<']}                  # first year for the data set is 2014
        ]
    }
WealthVar = Wealth.get_data(params=params).sort_values(['TID'])

**Create dataframe:**

In [341]:
IncomeDF = pd.crosstab(index=[DisposableIncomeVar['TID']],values = DisposableIncomeVar['INDHOLD'], aggfunc = sum, columns = str('DisInc: ') + DisposableIncomeVar['ALDER'])  # convert unique ages as columns for income
WealthDF = pd.crosstab(index=[WealthVar['TID']],values = WealthVar['INDHOLD'], aggfunc = sum, columns = str('Wealth: ') + WealthVar['ALDER'])                                # convert unique ages as columns for wealth
IncomeWealthDF =  pd.concat([IncomeDF,WealthDF], axis=1)                                                                                                                       # concatenate dataframes
IncomeWealthDF

ALDER,DisInc: 15-19 years,DisInc: 20-24 years,DisInc: 25-29 years,DisInc: 30-34 years,DisInc: 35-39 years,DisInc: 40-44 years,DisInc: 45-49 years,DisInc: 50-54 years,DisInc: 55-59 years,DisInc: 60-64 years,...,Wealth: 45-49 years,Wealth: 50-54 years,Wealth: 55-59 years,Wealth: 60-64 years,Wealth: 65-69 years,Wealth: 70-74 years,Wealth: 75-79 years,Wealth: 80-84 years,Wealth: 85-89 years,Wealth: 90 years and over
TID,,,,,,,,,,,,,,,,,,,,,
2000,37000,121400,171500,209100,227400,233800,235500,236100,229700,201100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,36400,121000,171100,209400,229700,237000,237300,239200,234200,204600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,38300,121100,170900,210600,232100,241100,240400,240400,236700,208400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,37200,119500,170100,211800,233900,243900,242900,241000,240100,212600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,37100,122000,176400,222300,246400,256100,256900,254200,253900,224700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,37400,123100,177800,225200,250600,262700,263500,261000,262000,234600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,39600,125800,178600,226600,253800,267600,270400,267200,268300,243300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,41300,129100,180000,227100,254700,269700,272100,269600,270800,245800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,40600,127500,176700,220100,246300,259700,260100,259300,255900,233700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,36600,123100,178300,224300,250900,262900,263700,262700,258500,233200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,34900,120900,181600,237000,270400,285300,287600,283700,277300,250600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,33800,115800,177500,233900,267300,285400,289300,284200,277600,250300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,32700,112800,174400,232100,266700,286000,291000,286700,278200,254600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,33200,111900,174200,233600,271900,292800,298900,293100,286400,260000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,33200,112200,175000,235300,275500,299800,306300,298900,291600,264700,...,1080047.0,1425659.0,1883750.0,2284542.0,2403140.0,2103073.0,1711899.0,1541536.0,1417748.0,1292870.0
2015,33200,112900,176600,235500,279400,307800,313600,309300,299600,274300,...,1138322.0,1489231.0,1930578.0,2346428.0,2470721.0,2235484.0,1828663.0,1600497.0,1506639.0,1347322.0
2016,32100,113600,178300,238600,281000,309800,320000,314600,304100,278200,...,1193766.0,1539945.0,1994830.0,2393495.0,2535052.0,2318186.0,1912510.0,1632694.0,1549198.0,1337952.0
2017,32900,114900,181100,241100,283100,313600,327700,323100,310200,286700,...,1260203.0,1619200.0,2048335.0,2462888.0,2611662.0,2422018.0,2035585.0,1717946.0,1623591.0,1387498.0
2018,33100,118200,186600,246400,286900,318400,332800,329500,315800,292400,...,1276121.0,1630968.0,2042882.0,2468585.0,2568683.0,2426218.0,2083959.0,1732917.0,1629646.0,1388791.0
2019,33400,119300,190000,250800,290900,323400,340900,340600,326900,302700,...,1418566.0,1785686.0,2179767.0,2612588.0,2694638.0,2533033.0,2226718.0,1819023.0,1674304.0,1434116.0
2020,33700,123000,198200,263200,303700,337600,358100,354400,342000,314500,...,1541404.0,1921063.0,2323714.0,2737162.0,2809962.0,2613916.0,2350299.0,1928055.0,1674392.0,1582124.0
2021,36200,130700,205000,270600,311700,344300,369300,370100,358700,327400,...,1671138.0,2079374.0,2469617.0,2900982.0,2977213.0,2774253.0,2550388.0,2112392.0,1839636.0,1694937.0

## Steady state values

In [21]:
frames = [SupplyBalanceDF, CapitalEmploymentPopuplationDF, UnemploymentDF, IncomeWealthDF]

In [22]:
All_variables =  pd.concat(frames, axis=1)
All_variables

,Y,M,X,C,G,I,M_ratio,X_ratio,C_ratio,G_ratio,...,Wealth: 45-49 years,Wealth: 50-54 years,Wealth: 55-59 years,Wealth: 60-64 years,Wealth: 65-69 years,Wealth: 70-74 years,Wealth: 75-79 years,Wealth: 80-84 years,Wealth: 85-89 years,Wealth: 90 years and over
TID,,,,,,,,,,,,,,,,,,,,,
2000,1677.2,548.7,696.9,752.6,412.2,348.2,0.327152,0.415514,0.448724,0.245767,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,1691.0,561.9,720.3,754.3,420.0,343.0,0.332289,0.425961,0.446067,0.248374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,1698.9,597.7,751.7,765.2,429.0,338.9,0.351816,0.442463,0.450409,0.252516,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,1705.5,591.6,742.7,775.4,430.0,336.6,0.346878,0.435473,0.454647,0.252125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,1751.0,633.8,765.1,811.5,436.6,359.4,0.361965,0.436950,0.463449,0.249343,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,1792.0,705.3,824.2,841.5,441.8,379.3,0.393583,0.459933,0.469587,0.246540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,1862.1,803.9,909.4,866.3,453.1,427.7,0.431717,0.488373,0.465227,0.243327,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,1879.0,850.8,942.6,881.6,458.5,439.1,0.452794,0.501650,0.469186,0.244013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,1869.4,891.4,979.1,885.9,473.4,418.0,0.476837,0.523751,0.473895,0.253236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,1777.7,784.9,888.8,855.5,487.8,329.3,0.441526,0.499972,0.481240,0.274400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,1810.9,789.1,914.9,862.2,495.6,327.3,0.435750,0.505218,0.476117,0.273676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,1835.1,847.9,980.8,864.6,492.5,345.2,0.462046,0.534467,0.471146,0.268378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,1839.3,870.9,992.2,869.0,496.2,353.1,0.473495,0.539444,0.472462,0.269777,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,1856.5,883.7,1008.1,871.5,495.7,365.1,0.476003,0.543011,0.469432,0.267008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,1886.5,918.1,1039.7,879.4,505.3,380.8,0.486668,0.551126,0.466154,0.267851,...,1080047.0,1425659.0,1883750.0,2284542.0,2403140.0,2103073.0,1711899.0,1541536.0,1417748.0,1292870.0
2015,1930.7,960.0,1076.9,899.5,513.8,400.7,0.497229,0.557777,0.465893,0.266121,...,1138322.0,1489231.0,1930578.0,2346428.0,2470721.0,2235484.0,1828663.0,1600497.0,1506639.0,1347322.0
2016,1993.4,995.1,1121.2,921.2,514.6,431.2,0.499197,0.562456,0.462125,0.258152,...,1193766.0,1539945.0,1994830.0,2393495.0,2535052.0,2318186.0,1912510.0,1632694.0,1549198.0,1337952.0
2017,2049.6,1036.8,1175.1,942.3,519.1,449.4,0.505855,0.573331,0.459748,0.253269,...,1260203.0,1619200.0,2048335.0,2462888.0,2611662.0,2422018.0,2035585.0,1717946.0,1623591.0,1387498.0
2018,2090.4,1089.6,1214.5,975.2,519.2,468.9,0.521240,0.580989,0.466514,0.248374,...,1276121.0,1630968.0,2042882.0,2468585.0,2568683.0,2426218.0,2083959.0,1732917.0,1629646.0,1388791.0
2019,2121.6,1122.4,1269.3,990.6,523.6,458.8,0.529035,0.598275,0.466912,0.246795,...,1418566.0,1785686.0,2179767.0,2612588.0,2694638.0,2533033.0,2226718.0,1819023.0,1674304.0,1434116.0
2020,2079.3,1082.5,1189.3,977.2,516.4,476.5,0.520608,0.571971,0.469966,0.248353,...,1541404.0,1921063.0,2323714.0,2737162.0,2809962.0,2613916.0,2350299.0,1928055.0,1674392.0,1582124.0
2021,2180.3,1168.8,1284.3,1017.7,537.9,505.7,0.536073,0.589047,0.466771,0.246709,...,1671138.0,2079374.0,2469617.0,2900982.0,2977213.0,2774253.0,2550388.0,2112392.0,1839636.0,1694937.0
2022,2263.5,1218.2,1394.9,994.5,519.3,566.9,0.538193,0.616258,0.439364,0.229423,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [382]:
means = All_variables.mean()
for i,mean in enumerate(means):
    print(f'{means.index[i]}: {mean:.2f}')

Y: 1897.43
M: 867.53
X: 994.87
C: 880.64
G: 482.24
I: 402.13
M_ratio: 0.45
X_ratio: 0.52
C_ratio: 0.46
G_ratio: 0.25
I_ratio: 0.21
L: 2862658.48
N: 5588587.61
K: 510030.82
L_ratio: 0.51
U: 3.93
DisInc: 15-19 years: 35631.82
DisInc: 20-24 years: 119990.91
DisInc: 25-29 years: 179540.91
DisInc: 30-34 years: 232027.27
DisInc: 35-39 years: 264286.36
DisInc: 40-44 years: 283577.27
DisInc: 45-49 years: 289922.73
DisInc: 50-54 years: 287222.73
DisInc: 55-59 years: 280840.91
DisInc: 60-64 years: 254472.73
DisInc: 65-69 years: 211950.00
DisInc: 70-74 years: 195500.00
DisInc: 75-79 years: 188922.73
DisInc: 80 years and over: 187131.82
DisInc: Total, 15 years and over: 220722.73
Wealth: 18 years and over: 1341652.62
Wealth: 18-24 years: 91134.25
Wealth: 25-29 years: 167126.00
Wealth: 30-34 years: 336701.25
Wealth: 35-39 years: 610634.62
Wealth: 40-44 years: 962552.00
Wealth: 45-49 years: 1322445.88
Wealth: 50-54 years: 1686390.75
Wealth: 55-59 years: 2109184.12
Wealth: 60-64 years: 2525833.75
Wealth: 65-69 years: 2633883.88
Wealth: 70-74 years: 2428272.62
Wealth: 75-79 years: 2087502.62
Wealth: 80-84 years: 1760632.50
Wealth: 85-89 years: 1614394.25
Wealth: 90 years and over: 1433201.25

## Regressing income data

**Set up data for regression:**

In [517]:
# log income for regression
log_IncomeDF = np.log(IncomeDF)

# drop total income column
log_IncomeDF.drop('DisInc: Total, 15 years and over', axis=1, inplace=True)

# rename columns
col_dict = {f'DisInc: {i}-{i+4} years' : f'age{i}-{i+4}' for i in range(15,75+1,5)}
log_IncomeDF = log_IncomeDF.rename(columns = {'DisInc: 80 years and over':'age80>='})
log_IncomeDF.rename(columns = col_dict, inplace=True)

log_IncomeDF

ALDER,age15-19,age20-24,age25-29,age30-34,age35-39,age40-44,age45-49,age50-54,age55-59,age60-64,age65-69,age70-74,age75-79,age80>=
TID,,,,,,,,,,,,,,
2000,10.518673,11.706846,12.052339,12.250568,12.334466,12.362221,12.369466,12.372011,12.344529,12.211558,12.031719,11.984802,11.967815,11.948596
2001,10.502324,11.703546,12.050003,12.252002,12.344529,12.375815,12.377080,12.385055,12.363931,12.228812,12.054668,11.999663,11.984178,11.972879
2002,10.553205,11.704372,12.048834,12.257716,12.354924,12.392967,12.390059,12.390059,12.374549,12.247215,12.075964,12.004568,11.997202,12.013701
2003,10.524064,11.691072,12.044142,12.263398,12.362649,12.404514,12.400405,12.392552,12.388811,12.267168,12.092904,12.013701,12.005791,12.008231
2004,10.521372,11.711776,12.080509,12.311783,12.414712,12.453323,12.456442,12.445877,12.444696,12.322521,12.135650,12.041787,12.029335,12.034691
2005,10.529426,11.720752,12.088415,12.324744,12.431613,12.478768,12.481809,12.472276,12.476100,12.365637,12.164730,12.071970,12.056992,12.070825
2006,10.586584,11.742449,12.092904,12.330942,12.444302,12.497249,12.507658,12.495753,12.499861,12.402051,12.198040,12.099044,12.079942,12.087289
2007,10.628618,11.768343,12.100712,12.333146,12.447842,12.505066,12.513925,12.504695,12.509136,12.412273,12.220961,12.118879,12.088977,12.101268
2008,10.611523,11.755872,12.082209,12.301837,12.414306,12.467282,12.468821,12.465741,12.452542,12.361794,12.167851,12.084470,12.055250,12.078239
2009,10.507804,11.720752,12.091223,12.320740,12.432810,12.479529,12.482567,12.478768,12.462651,12.359652,12.173549,12.088977,12.059890,12.090662
2010,10.460242,11.702719,12.109562,12.375815,12.507658,12.561297,12.569326,12.555673,12.532855,12.431613,12.243368,12.158981,12.117788,12.133502
2011,10.428216,11.659620,12.086726,12.362649,12.496127,12.561647,12.575219,12.557433,12.533937,12.430415,12.258665,12.152144,12.113409,12.134577
2012,10.395130,11.633372,12.069107,12.354924,12.493880,12.563747,12.581079,12.566192,12.536096,12.447449,12.276065,12.174066,12.131888,12.136187
2013,10.410305,11.625361,12.067959,12.361366,12.513190,12.587245,12.607864,12.588269,12.565145,12.468437,12.306370,12.212055,12.168890,12.161075
2014,10.410305,11.628038,12.072541,12.368617,12.526343,12.610871,12.632320,12.607864,12.583138,12.486352,12.310883,12.239507,12.187909,12.177673
2015,10.410305,11.634258,12.081643,12.369466,12.540400,12.637206,12.655874,12.642067,12.610204,12.521978,12.353199,12.282571,12.227345,12.205072
2016,10.376611,11.640439,12.091223,12.382544,12.546110,12.643682,12.676076,12.659057,12.625112,12.536096,12.379606,12.298196,12.249611,12.217507
2017,10.401228,11.651817,12.106805,12.392967,12.553555,12.655874,12.699854,12.685717,12.644973,12.566192,12.385891,12.325188,12.266697,12.231253
2018,10.407289,11.680133,12.136723,12.414712,12.566889,12.671064,12.715297,12.705332,12.662864,12.585878,12.386309,12.329175,12.285808,12.241440
2019,10.416311,11.689397,12.154779,12.432411,12.580735,12.686645,12.739344,12.738464,12.697410,12.620497,12.426412,12.360080,12.318061,12.284884
2020,10.425253,11.719940,12.197032,12.480669,12.623796,12.729617,12.788568,12.778181,12.742566,12.658739,12.461490,12.391307,12.360937,12.310883
2021,10.496814,11.780660,12.230765,12.508397,12.649796,12.749269,12.819365,12.821529,12.790242,12.698938,12.509505,12.405743,12.362649,12.312682

**Long format:**

In [518]:
log_IncomeDF = log_IncomeDF.reset_index()
long_df = pd.melt(log_IncomeDF, id_vars="TID", var_name="age_group", value_name="log_income")
long_df

      TID age_group  log_income
0    2000  age15-19   10.518673
1    2001  age15-19   10.502324
2    2002  age15-19   10.553205
3    2003  age15-19   10.524064
4    2004  age15-19   10.521372
..    ...       ...         ...
303  2017   age80>=   12.231253
304  2018   age80>=   12.241440
305  2019   age80>=   12.284884
306  2020   age80>=   12.310883
307  2021   age80>=   12.312682

[308 rows x 3 columns]

**Add variables:**
- Birth year 
- Age 
- Age squared 

Using the median age for each group, i.e. age 17 for group age15-19.

In [519]:
# new variables
long_df['median_birth_year'] = 0
long_df['median_age_squared'] = 0
long_df['median_age'] = 0
long_df['id'] = 0

a = range(0,308+22,22)
b = range(17,82+5,5)

# the age of a group is the median age of that group, i.e. 17 for group age15-19
for i,j in zip(a,b):
    long_df.loc[i:i+22,['median_birth_year']] = long_df['TID'] - j
    long_df.loc[i:i+22,['median_age_squared']] = j**2
    long_df.loc[i:i+22,['median_age']] = j
    long_df.loc[i:i+22,['id']] = j

long_df.set_index(['id', 'TID'], inplace=True)

In [520]:
long_df.head(25)

        age_group  log_income  median_birth_year  median_age_squared  \
id TID
17 2000  age15-19   10.518673               1983                 289
   2001  age15-19   10.502324               1984                 289
   2002  age15-19   10.553205               1985                 289
   2003  age15-19   10.524064               1986                 289
   2004  age15-19   10.521372               1987                 289
   2005  age15-19   10.529426               1988                 289
   2006  age15-19   10.586584               1989                 289
   2007  age15-19   10.628618               1990                 289
   2008  age15-19   10.611523               1991                 289
   2009  age15-19   10.507804               1992                 289
   2010  age15-19   10.460242               1993                 289
   2011  age15-19   10.428216               1994                 289
   2012  age15-19   10.395130               1995                 289
   2013  age15-19   10.410305               1996                 289
   2014  age15-19   10.410305               1997                 289
   2015  age15-19   10.410305               1998                 289
   2016  age15-19   10.376611               1999                 289
   2017  age15-19   10.401228               2000                 289
   2018  age15-19   10.407289               2001                 289
   2019  age15-19   10.416311               2002                 289
   2020  age15-19   10.425253               2003                 289
   2021  age15-19   10.496814               2004                 289
22 2000  age20-24   11.706846               1978                 484
   2001  age20-24   11.703546               1979                 484
   2002  age20-24   11.704372               1980                 484

         median_age
id TID
17 2000          17
   2001          17
   2002          17
   2003          17
   2004          17
   2005          17
   2006          17
   2007          17
   2008          17
   2009          17
   2010          17
   2011          17
   2012          17
   2013          17
   2014          17
   2015          17
   2016          17
   2017          17
   2018          17
   2019          17
   2020          17
   2021          17
22 2000          22
   2001          22
   2002          22

In [521]:
long_df.tail(25)

        age_group  log_income  median_birth_year  median_age_squared  \
id TID
77 2019  age75-79   12.318061               1942                5929
   2020  age75-79   12.360937               1943                5929
   2021  age75-79   12.362649               1944                5929
82 2000   age80>=   11.948596               1918                6724
   2001   age80>=   11.972879               1919                6724
   2002   age80>=   12.013701               1920                6724
   2003   age80>=   12.008231               1921                6724
   2004   age80>=   12.034691               1922                6724
   2005   age80>=   12.070825               1923                6724
   2006   age80>=   12.087289               1924                6724
   2007   age80>=   12.101268               1925                6724
   2008   age80>=   12.078239               1926                6724
   2009   age80>=   12.090662               1927                6724
   2010   age80>=   12.133502               1928                6724
   2011   age80>=   12.134577               1929                6724
   2012   age80>=   12.136187               1930                6724
   2013   age80>=   12.161075               1931                6724
   2014   age80>=   12.177673               1932                6724
   2015   age80>=   12.205072               1933                6724
   2016   age80>=   12.217507               1934                6724
   2017   age80>=   12.231253               1935                6724
   2018   age80>=   12.241440               1936                6724
   2019   age80>=   12.284884               1937                6724
   2020   age80>=   12.310883               1938                6724
   2021   age80>=   12.312682               1939                6724

         median_age
id TID
77 2019          77
   2020          77
   2021          77
82 2000          82
   2001          82
   2002          82
   2003          82
   2004          82
   2005          82
   2006          82
   2007          82
   2008          82
   2009          82
   2010          82
   2011          82
   2012          82
   2013          82
   2014          82
   2015          82
   2016          82
   2017          82
   2018          82
   2019          82
   2020          82
   2021          82

**Run regression:**

In [522]:
# dependent variable
dependent = long_df.log_income

# exogenous variables
exog = sm.add_constant(long_df[['median_birth_year','median_age_squared','median_age']])

In [523]:
mod = PanelOLS(dependent, exog, drop_absorbed=True)
res = mod.fit(cov_type='unadjusted')
res

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:             log_income   R-squared:                        0.7842
Estimator:                   PanelOLS   R-squared (Between):              0.7893
No. Observations:                 308   R-squared (Within):               0.6612
Date:                Mon, Apr 17 2023   R-squared (Overall):              0.7842
Time:                        18:18:46   Log-likelihood                   -10.099
Cov. Estimator:            Unadjusted
                                        F-statistic:                      368.29
Entities:                          14   P-value                           0.0000
Avg Obs:                       22.000   Distribution:                   F(3,304)
Min Obs:                       22.000
Max Obs:                       22.000   F-statistic (robust):             368.29
                                        P-value                           0.0000
Time periods:                      22   Distribution:                   F(3,304)
Avg Obs:                       14.000
Min Obs:                       14.000
Max Obs:                       14.000

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
const                 -18.451     4.5454    -4.0593     0.0001     -27.395     -9.5066
median_birth_year      0.0138     0.0023     6.1061     0.0000      0.0094      0.0183
median_age_squared    -0.0011  3.977e-05    -28.380     0.0000     -0.0012     -0.0011
median_age             0.1371     0.0046     29.826     0.0000      0.1280      0.1461
======================================================================================


PanelEffectsResults, id: 0x245c248b940